.countryOffersWrapper {
  padding: 60px 150px;
  min-height: 80vh;
  overflow: hidden;
}



@media screen and (max-width: 768px) {
  .countryOffersWrapper {
    padding: 0;
    min-height: 90vh;
  }

  .countryOffersWrapper h2 {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
  }

  .ant-table-content {
    overflow: auto !important;
  }
}