NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_your_clerk_publishable_key
CLERK_SECRET_KEY=sk_test_your_clerk_secret_key

MONGODB_URL=mongodb+srv://username:password@cluster.mongodb.net/travel_agency

OPENAI_API_KEY=sk-your-openai-api-key

STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_ACCESS_KEY=pk_test_your_stripe_publishable_key

MAILJET_API=your_mailjet_api_key
MAILJET_SECRET_KEY=your_mailjet_secret_key
MAIL_FROM_EMAIL=hello@example.com
MAIL_FROM_NAME=Globetrotter

EDGE_STORE_ACCESS_KEY=your_edgestore_access_key
EDGE_STORE_SECRET_KEY=your_edgestore_secret_key
