.mainPageWrapper {
    padding: 150px;
    display: flex;
    justify-content: center;
    padding-top: 0px;
}

.foundHotelWrapper {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
}

.startsList {
    display: flex;
    min-width: 63vw;
    margin-top: 30px;
    margin-bottom: 20px;
}

.defaultStars {
    display: flex;
}

.defaultStars p:first-child {
    font-weight: 700;
    margin-bottom: 5px;
}

.defaultStar {
    display: flex;
    width: 10.9vw;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    margin-right: 30px;
    border-radius: 8px;
    padding: 0;
    margin-bottom: 0;
    height: 100px;
    justify-content: center;
}

.defaultStar:last-child {
    margin-right: 0;
}

.hotelStar {
    display: flex;
    width: 10.9vw;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    margin-right: 30px;
    border-radius: 8px;
    padding: 0;
    margin-bottom: 0;
    height: 100px;
    justify-content: center;
}

.hotelStar p:first-child {
    margin-bottom: 5px;
    font-weight: 700;
}

.amentediesList{
    max-width: 67vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 9px;
    margin-bottom: 30px;
}

.amentedie{
    padding: 7px;
    background-color: rgb(228, 228, 228);
    margin-right: 15px;
    border-radius: 12px;
    color: black;
}

.bottomLayer{
    padding: 100px;
    padding-top: 0;
}

.hotelName{
    font-weight: 700;
    margin-top: 20px;
    font-size: 23px;margin-bottom: 2px;
}

.hotelPlace{
    color: grey;
    margin-bottom: 20px;
}

.hotelDescription p {
    font-weight: 400;
    margin-top: 7px;
    margin-bottom: 20px;
}

.reviewsWrapper {
    display: flex;
    flex-direction: column;
  }
  
  .review {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    flex-direction: column;
    min-width: 65vw!important;
  }
  
  .user {
    display: flex;
    align-items: flex-start;
    margin-right: 20px;
    flex-direction: row;
  }

  .user p {
    font-size: 14px;
  }
  
  .review p:last-child {
    flex-grow: 1;
    font-size: 12px;
  }