.mainPageWrapper {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    overflow: hidden;
}

  @media screen and (max-width: 768px) {
    .mainPageWrapper{
        padding-bottom: 0;
    }
  }