.divider {
    margin: 19px 0 !important;
}

.priceDetail {
    display: flex;
}

.priceDetail p:first-child {
    font-weight: 400;
    font-size: 14px;
    width: 50vw;
}

.priceDetail p:last-child {
    font-weight: 400;
    font-size: 14px;
    overflow-wrap: break-word;
    width: 15vw;
}