.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
  }
  
  .animation {
    width: 500px; 
    height: 500px; 
  }
  
  .message {
    text-align: center;
    margin-top: 20px;
  }
  
  .link {
    font-weight: bold;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .link:hover {
    color: #0056b3; 
  }
  