.filters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 5px;
    max-width: 60vw;
    margin-top: 30px;
}



.ant-picker,
.ant-select,
.ant-input-number {
    width: 100%;
    margin-bottom: 5px;
}


@media screen and (max-width: 768px) {
    .filters {
        grid-template-columns: repeat(1, 1fr);
        min-width: 100vw;
    }

    .ant-input-number {
        margin-bottom: 5px;
    }
}