.filters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 5px;
    max-width: 60vw;
    margin-top: 30px;
}



.ant-picker,
.ant-select,
.ant-input-number {
    width: 100%;
    margin-bottom: 5px;
}


.mobileFilters {
    display: none;
}

.collapse{
    display: none;
}


@media screen and (max-width: 768px) {
    .mobileFilters {
        display: block;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        grid-gap: 5px;
        max-width: 60vw;
    }
    .filters {
        display: none;
    }
    .collapse{
        display: block;
    }
}